<div style="text-align:center">
  <h1>Customer Dashboard</h1>
   <h1>User{{user.userName}}</h1>
 </div>
 <div style="text-align:center">
 <nav>
 <br> <br> <p> <a routerLink="/myaccount" routerLinkActive="active">My Account</a></p>
  <p> <a routerLink="/servicinghistory" routerLinkActive="active">Servicing History</a></p>
    <p> <a routerLink="/bookservicing" routerLinkActive="active">Book Servicing</a></p>
      <!--<p> <a routerLink="/logout" routerLinkActive="active">Log Out</a></p>-->
 </nav>
  </div>
 
 <router-outlet></router-outlet>
 